header{
  width: 98%;
  height: 150px;
  padding: 24px 10px 24px 10px;
  gap: 10px;
  text-align: center;
}
h1{
  font-size: 80px;
  font-weight: 400;
  font-family: 'Stardos Stencil';
  line-height: 110.35px;
  color: white;
  display: inline;
  text-align: center;
}
body{
  background-color: black;
}
h6{
  color: white;
  font-family: 'Stardos Stencil';
  font-weight: 400;
  font-size: 24px;
  line-height: 33.11px;
}
footer{
  width: 90%;
  height: 81px;
  gap: 10px;
  padding: 24px 48px 24px 48px;
}