body{
  background-color: #4d4d4d;
  color: #e6e6e6;
}
header{
  color: black;
  font-size: 30px;
  background-color: black;
}
footer{
  color: black;
  font-size: 10px;
  background-color: black;
}
#list{
  margin-top: 500px;
}