#answer_box{
  width: 200px;
  height: 30px;
  margin-bottom: 40px;
}
.button{
  margin-top: 20px;
  width: 100px;
  height: auto;
  margin-left: 25%;
  text-align:center;
}
body{
  justify-content: center;
  background-color:darkslategray;
}
#all{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  height: 100%;
}